.bdaHidden { display:none; }

.bda45 { width:45%; }
.bdaHuge { font-size:5em; }

.bdaBlue { color:blue; }
.bdaRed { color:red; }
.bdaGreen { color:green; }

.nobr { white-space:nowrap; }
.bdaMid { position:absolute; top:40%; left:40%; text-align:center; vertical-align:middle; }


.bdaClear { clear:both; }
.bdaFloatLeft { float:left; }
.bdaPadRight { padding-right:20px; }
